.button {
  transition:
    all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.1s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:active {
  transition:
    all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    scale 0.05s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button-primary {
  background: #63d297;
  box-shadow:
    0px -6px 12px 0px rgba(53, 124, 89, 0.35) inset,
    0px 8px 20px rgba(7, 12, 20, 0.35),
    0px 2px 6px rgba(99, 210, 151, 0.2);
}

.button-primary:hover {
  box-shadow:
    0px -6px 12px 0px rgba(53, 124, 89, 0.35) inset,
    0px 10px 26px rgba(7, 12, 20, 0.45),
    0px 2px 8px rgba(99, 210, 151, 0.24);
}

.button-primary:active {
  box-shadow:
    0px -6px 12px 0px rgba(53, 124, 89, 0.35) inset,
    0px 6px 16px rgba(7, 12, 20, 0.35),
    0px 1px 4px rgba(99, 210, 151, 0.18);
}

.button-background {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.16), transparent);
  opacity: 0.08;

  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.button:hover .button-background {
  opacity: 0.08;
}

.button:active .button-background {
  opacity: 0;

  transition: opacity 0.05s cubic-bezier(0.25, 0.1, 0.25, 1);
}
